
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    width: 100vw;
    overflow-x: hidden;
}

.box {
    /* padding-top: 150px;
    padding-bottom: 155px;
    padding-left: 100px; */
    padding-top: 100px;
    width: 100vw;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
}

.box p {
    width: 100vw;
    max-width: 300px;
    text-align: center;

} 

#content {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    /* padding-left: 35px; */
    vertical-align: top;
    letter-spacing: -1.5%;

    
}
header{ 
    background: white;
}

img {
    max-width: 100vw;
}

#babyArrow{
    font-size: 130px;
}
#container {
   

    
}
#container div {
  
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* width: 200px; */

}
#container div img{

    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 50px;
   
}



/**ABOUT */

#about, #casestudy{ 
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}
.topbox {
    border: 2px solid red;
}
.bottombox{
    border: 2px solid green;
}

.topbox h1 {
 
    display:block;

}

.bottombox h1{
 
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer ul{ 
    display:flex;

    align-items: center;
    width: 100vw;
    border: 1px solid pink;
    justify-content: space-evenly;
}
footer ul li{
    list-style-type: none;
   
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

















/**CASE STYDY*/
.pg3 {
    border: 2px solid purple;
    display:flex;
    flex-direction: column;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.pg3 img {
    width: 50vw;
}

.pg3 div {
    position: relative;
    border: 1px solid red;
}

.pg3 .eclipse{
    width: 200px;
}

.pg3 h4{
    position:absolute;
    right:10px;
    top:20px;
}

.gallery {
    display:flex;
    justify-content: center;
}

.gallery img{
    width: 100px;
}





/*DESKTOP CSS*/
@media (min-width: 800px){
    #container div {
 
        flex-direction: row;
    }

    #about {
        flex-direction: row-reverse;
    }


    .topbox h1 {

        display: none;
    }
    
    .bottombox h1{

        display:block;
    }


    .pg3 {
        flex-direction: row;
    }
    











}