[class*="col-"] {
    width: 100%;
}
body {
    margin: 0;
  font-family: Helvetica, sans-serif;
    background-color: lightgray
}
    
/* p {
    font-family: Helvetica sans-serif;
    font-size: 25px;
    border: 5px solid black;
    width: 30%;
    text-align: center;
    padding: 0 15% 0;
    margin-left: 5%;
    margin-bottom: 0;    
    margin-top: 0;
    
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: flex-end; */
    /* align-items: center; */
} */
.box {
    display: flex;
    align-items: center; 
    justify-content: center;
}

.box div {
    width: 100px;
    height: 100px;
}

#content {
    display:flex;
    flex-wrap: wrap;
    width: stretch;
}
    

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#container {
    max-width: 100%;
    height: auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.image-size {
  margin: 0%;
  border-radius: 6.5%;
  box-sizing: border-box;
  display:inline-block;
  width: 100%;
  padding: 20px;
} 

@media (min-width: 812px)
 {
     .image-size {
         width:50%;
         
     }
 }
footer {
    margin: 0;
    padding: 0;
}

#footer-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}
h3 {
    text-align: center;
}

/* @media (max-width:812px) {
    p {
        display: flex;
        

    }
} */