[class*="col-"] {
    width: 100%;
}

body {
    background-color: light grey
}
h1 {
    display: flex;
    justify-content: center;
    font-family:cursive;
}
/* .topbackground {
navbar
} */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.row {
    display: flex;
    flex-wrap: row;
    padding: 0 4px;
    max-width: 100%;
    height:auto;
    justify-content: center;
    position: relative;
    background-size: cover;
 
}

/* .column {
    flex: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
} */
/* #container {
    margin: 10px;
    width: 115px;
    height: 115px;
    line-height: 115px;
    text-align: center;
    border: 1px solid black
} */
.resize_fit_center {
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}

#image-size {
  padding: 5px;
  border-radius: 30px;
  display: block;
  max-width: max-content;
  height: max-content;
}

div {
    width: auto;
    transition: width 5s;
}



